.texto-info {
    font-size: 35px;
}

.button-validate {
    margin-top: 41px;
    background: #165c7d;
    color: white;
    width: 160px;
    border: none;
    height: 37px;
}

input {
    border: solid 1px gray;
    color: gray;
    border-radius: 0;
}

.box-cpf {
    margin-top: 10px;
}

.box-information {
    width: 275px;
    border: solid 1px gray;
    background: white;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}

.label {
    font-size: 15px;
    font-weight: 600;
}

.box-information-title {
    font-size: 14px;
    font-weight: 600;
}

.name {
    font-size: 12px;
    margin-left: 30px;
    margin-top: -33px;
    color: gray;
}

.sub-text {
    margin-top: -18px;
    font-size: 11px !important;
}

.name-info {
    margin-left: 30px;
    margin-top: -20px;
    font-weight: 400;
}

.icon-person {
    font-size: 20px;
    color: gray;
}

.icon-check {
    color: green;
    font-size: 20px;
}

.invalid-text {
    font-size: 13px;
    color: red;
}
